  .navbar ol {
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }

  li {
    list-style-type: none;
    float: left;
  }

  li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
    text-align: center;
  }

  li a:hover {
    background-color: #111;
  }

  .sidebar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 140px;
  }

  li {
    float: center;
    text-align: center;
    list-style-type: none;
  }

  li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
  }

  li a:hover {
    background-color: #111;
  }

  aside {
    width: 10%;
    margin-left: 15px;
    float: right;
    background-color: #333;
  }

  table, th, td {
    border: black solid 2px;
  }

  .intro {
    margin-top: 64px;
  }